<!--
<?php
print <<<EOT
-->
<div class="cardexplain">

    <ul class="round ul_text_img">
    	<li>
        	<div class="txt">
            <strong>上海和平影都旗舰店</strong><br />
            地址：西藏中路290号<br />
            口碑：<strong class="star_txt">★★★★☆</strong> 569条评价<br />
            路线：公交 23、29、105 路
            </div>
        </li>
    </ul>

	<ul class="round">
		<li>
		<h2 style="padding:5px 0; font-size:14px">影院描述</h2>
		<div class="text" style="padding:7px 0; font-size:12px; margin:0; line-height:17px">上海最古老的影院之一，2009年重新装修，共12个播放厅。全部IMAX 3D厅。</div>
		</li>
	</ul>

<div class="footReturn">
	<input class="submit" onclick="window.location.href='$webdb[www_url]/41.html'" value="更换影院" type="button" />
</div>

  <div class="jifen-box">
    <ul class="zongjifen">
      <li>
        <div class="fengexian">
          <p><img src="$webdb[www_url]/images/ico_time.png" width="20" height="20" /></p>
          <span>限时折扣</span></div>
      </li>
      <li><a href="#">
        <div class="fengexian">
          <p><img src="$webdb[www_url]/images/ico_coffee.png" width="20" height="20" /></p>
          <span>观影送礼</span></div>
        </a></li>
      <li><a href="#">
        <p><img src="$webdb[www_url]/images/ico_double.png" width="20" height="20" /></p>
        <span>双倍积分</span></a></li>
    </ul>
    <div class="clr"></div>
  </div>




  <ul class="round">
      <li class="title mb"><span class="none">用户评价<em class="error" style="padding:0 16px; top:47%"><a href="#">我说两句</a></em></li>

	  <li class="nob">
        <table class="kuang img_list" border="0" cellpadding="0" cellspacing="0" width="100%">
          <tbody><tr class="img_list_title">
            <th rowspan="2"><img src="$webdb[www_url]/images/userface.png" /></th>
            <td>爱吃鱼的猫</td><td>★★★★☆</td><td style="text-align:right; width:auto">2014-04-10</td>
          </tr>
          <tr>
            <td colspan="3" class="img_list_content">环境很好，会员卡打完折一般票价20元左右</td>
          </tr>
        </tbody></table>
      </li>
	  <li class="nob">
        <table class="kuang img_list" border="0" cellpadding="0" cellspacing="0" width="100%">
          <tbody><tr class="img_list_title">
            <th rowspan="2"><img src="$webdb[www_url]/images/userface.png" /></th>
            <td>ryeowooks</td><td>★★★★★</td><td style="text-align:right; width:auto">2014-04-10</td>
          </tr>
          <tr>
            <td colspan="3" class="img_list_content">环境很棒、交通也很方便、音效都不错、有时候有好看的十元电影就会过来看，超级划算的</td>
          </tr>
        </tbody></table>
      </li>
	  <li class="nob">
        <table class="kuang img_list" border="0" cellpadding="0" cellspacing="0" width="100%">
          <tbody><tr class="img_list_title">
            <th rowspan="2"><img src="$webdb[www_url]/images/userface.png" /></th>
            <td>罐罐菌</td><td>★★★★☆</td><td style="text-align:right; width:auto">2014-04-10</td>
          </tr>
          <tr>
            <td colspan="3" class="img_list_content">不团购就会去的电影院，地段好，周边吃的也多还可以逛街，所以去的比较多，还有IMAX  环境还行就是上下电梯太烦了，每次人暴多，好几次都走楼梯，这点特别不合理！</td>
          </tr>
        </tbody></table>
      </li>
	  <li class="nob">
        <table class="kuang img_list" border="0" cellpadding="0" cellspacing="0" width="100%">
          <tbody><tr class="img_list_title">
            <th rowspan="2"><img src="$webdb[www_url]/images/userface.png" /></th>
            <td>jilan870815</td><td>★★★★★</td><td style="text-align:right; width:auto">2014-04-10</td>
          </tr>
          <tr>
            <td colspan="3" class="img_list_content">每次打算看IMAX了，就来和平。离家里近。顺便还能逛逛来福士。</td>
          </tr>
        </tbody></table>
      </li>


	<li class="nob"><a href="#" style="display:block; text-align:center; background:#f1f1f1; margin-top:10px; font-size:12px">查看更多评价</a></li>



  </ul>







</div>
<!--
EOT;
?>
-->