<!--
<?php
print <<<EOT
-->
<div class="cardexplain">
	<ul class="round">
		<li>
		<h2 style="padding:5px 0; font-size:14px">上海和平影都订单</h2>
		<div class="text" style="padding:7px 0; font-size:12px; margin:0; line-height:20px">
        订单内容：《魔女神兵》电影票 &nbsp; X &nbsp; 3 张<br />
		订单金额：<strong style="color:#FF6600"><strong>￥</strong>150</strong>
        </div>
		</li>
	</ul>

	<ul class="round">
		<li>
			<span style="background:none; padding-right:0">上海 和平影都 会员卡支付<em style="right:0" class="ok">1</em></span>
		</li>
	</ul>



	<ul class="round">
		<li><span class="img_list2"><a href="javascript:;" onclick="$('#window2').fadeIn()">
			<img src="$webdb[www_url]/images/member_card.png" style="width:90px; height:60px; margin-top:4px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;" />
			<strong> VIP至尊金卡</strong> <strong class="tags_blue">5折购票</strong>
            <div class="img_list2_p" style="line-height:100%">
            卡号：2008*********001<br />
            余额：<strong>￥<strong>2880</strong></strong> &nbsp; 积分：<strong><strong>680</strong></strong>
            </div>
        </a></span></li>
	</ul>
<!--
    <ul class="round">
		<li><a href="$webdb[www_url]/50.html" style="font-size:12px; color:#0080f8"><span class="img_list2" >
			<img src="$webdb[www_url]/images/ico_add.png" style="width:25px; height:25px" />
			更多和平影都会员卡在线开卡
        </span></a></li>
	</ul>
-->



<!--
    <ul class="round">
		<li>
			<span>使用支付宝支付</span>
		</li>
	</ul>
-->


<div id="window2" class="window2">
	<div class="window2_content">
		<div class="window2_close" onclick="$('#window2').fadeOut()">X</div>
    	<div class="window2_title">使用会员卡支付</div>
        <div>卡号：2008*********001</div>
        <div style="margin:12px 0; border-bottom:1px solid #eee; padding-bottom:10px"><input name="truename" class="px" id="truename" value="" placeholder="请输入会员卡密码" type="tel" /></div>
        <div><input class="submit" onclick="window.location.href='$webdb[www_url]/48.html'" value="确认支付" type="button" /></div>
    </div>
</div>




</div>
<!--
EOT;
?>
-->