<!--
<?php
print <<<EOT
-->
<div class="cardexplain">

	<ul class="round">
		<li>
			<span style="background:none; padding-right:0"> 我的购卡/充值订单<em style="right:0" class="ok">4</em></span>
		</li>
	</ul>

    
	<ul class="round">
		<li><span class="img_list2"><a href="$webdb[www_url]/50_ok2.html">
			<img src="$webdb[www_url]/images/member_card.png" style="width:90px; height:60px; margin-top:4px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;" />
			<strong class="tags_blue">充值</strong> <strong> VIP至尊金卡</strong>
            <div class="img_list2_p" style="line-height:160%">
            订单状态：<div style="color:#ff0000; display:inline">等待支付</div><br />
            充值余额：￥2880
            </div>
        </a></span></li>
        <li><span class="img_list2"><a href="$webdb[www_url]/50_ok.html">
			<img src="$webdb[www_url]/images/member_card.png" style="width:90px; height:60px; margin-top:4px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;" />
			<strong class="tags_imax">购卡</strong> <strong> VIP至尊金卡</strong>
            <div class="img_list2_p" style="line-height:160%">
            订单状态：<div style="color:#ff0000; display:inline">等待支付</div><br />
            卡面金额：￥2000
            </div>
        </a></span></li>
	</ul>
	<ul class="round">
        <li><span class="img_list2 none">
			<img src="$webdb[www_url]/images/member_card.png" style="width:90px; height:60px; margin-top:4px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;" />
			<strong class="tags_blue">充值</strong> <strong> VIP至尊金卡</strong>
            <div class="img_list2_p" style="line-height:160%">
            状态：<div style="display:inline">支付成功</div> &nbsp; 日期：2014-03-12<br />
            充值余额：￥2880
            </div>
        </span></li>
        <li><span class="img_list2 none">
			<img src="$webdb[www_url]/images/member_card.png" style="width:90px; height:60px; margin-top:4px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;" />
			<strong class="tags_imax">购卡</strong> <strong> VIP至尊金卡</strong>
            <div class="img_list2_p" style="line-height:160%">
            状态：<div style=" display:inline">支付成功</div> &nbsp; 日期：2014-03-05<br />
            卡面金额：￥2000
            </div>
        </span></li>
	</ul>


    <div class="footReturn">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
          <tr>
            <td width="49%"><input class="submit" onclick="window.location.href='$webdb[www_url]/58.html'" value="卡片充值" type="button" /></td>
            <td width="2%"></td>
            <td width="49%"><input class="submit" onclick="window.location.href='$webdb[www_url]/50.html'" value="在线购卡" type="button" /></td>
          </tr>
        </table>
    </div>






</div>
<!--
EOT;
?>
-->