<!--
<?php
print <<<EOT
-->
<div class="cardexplain">



  <ul class="round">
      <li class="title mb"><span class="none">关联会员卡</span></li>
      <li class="nob">
        <table class="kuang" border="0" cellpadding="0" cellspacing="0" width="100%">
          <tr>
            <th style="width:90px">会员卡号</th>
            <td><input name="card" class="px" placeholder="请输入会员卡号" type="text"></td>
          </tr>
        </table>
      </li>
      <li class="nob">
        <table class="kuang" border="0" cellpadding="0" cellspacing="0" width="100%">
          <tr>
            <th style="width:90px">会员卡密码</th>
            <td><input name="password" class="px" placeholder="请输入会员卡密码" type="tel"></td>
          </tr>
        </table>
      </li>
  </ul>
  <div class="footReturn">
    <input id="to_submit" onclick="window.location.href='$webdb[www_url]/49.html?job=msg'" class="submit" value="确认提交" type="button" >
  </div>




</div>
<!--
EOT;
?>
-->