<!--
<?php
print <<<EOT
-->
<div class="cardexplain">


	<ul class="round">
		<li>
			<span style="background:none; padding-right:0">选择要充值的会员卡<em style="right:0" class="ok">3</em></span>
		</li>
	</ul>



	<ul class="round">
		<li><span class="img_list2"><a href="javascript:;" onclick="$('#window2').fadeIn()">
			<img src="$webdb[www_url]/images/member_card.png" style="width:90px; height:60px; margin-top:4px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;" />
			<strong> VIP至尊金卡</strong> <strong class="tags_blue">5折购票</strong>
            <div class="img_list2_p" style="line-height:100%">
            卡号：2008***********001<br />
            余额：<strong>￥<strong>2880</strong></strong> &nbsp; 积分：<strong><strong>680</strong></strong>
            </div>
        </a></span></li>
		<li><span class="img_list2"><a href="javascript:;" onclick="$('#window2').fadeIn()">
			<img src="$webdb[www_url]/images/member_card.png" style="width:90px; height:60px; margin-top:4px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;" />
			<strong> VIP至尊金卡</strong> <strong class="tags_blue">5折购票</strong>
            <div class="img_list2_p" style="line-height:100%">
            卡号：2008*********002<br />
            余额：<strong>￥<strong>500</strong></strong> &nbsp; 积分：<strong><strong>2680</strong></strong>
            </div>
        </a></span></li>
		<li><span class="img_list2"><a href="javascript:;" onclick="$('#window2').fadeIn()">
			<img src="$webdb[www_url]/images/member_card.png" style="width:90px; height:60px; margin-top:4px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;" />
			<strong> VIP至尊金卡</strong> <strong class="tags_blue">5折购票</strong>
            <div class="img_list2_p" style="line-height:100%">
            卡号：2008*********003<br />
            余额：<strong>￥<strong>85</strong></strong> &nbsp; 积分：<strong><strong>3010</strong></strong>
            </div>
        </a></span></li>
	</ul>




<div id="window2" class="window2">
	<div class="window2_content">
		<div class="window2_close" onclick="$('#window2').fadeOut()">X</div>
    	<div class="window2_title">会员卡充值</div>
        <div>卡号：2008*****001（至尊铂金卡）</div>
        <div style="margin:12px 0; border-bottom:1px solid #eee; padding-bottom:10px"><input name="truename" class="px" id="truename" value="" placeholder="请输入充值金额（元）" type="tel" /></div>
        <div><input class="submit" onclick="window.location.href='$webdb[www_url]/50.html?job=ok2'" value="确认充值" type="button" /></div>
    </div>
</div>





</div>
<!--
EOT;
?>
-->