<!--
<?php
print <<<EOT
-->
<div class="cardexplain">





	<ul class="round">
		<li>
			<span style="background:none; padding-right:0">我参与的活动<em style="right:0" class="ok">4</em></span>
		</li>
	</ul>




    <ul class="round ul_text_img">
        <li><a href="$webdb[www_url]/60.html"><span style="font-size: 100%;padding: 0 20px 0 0;">
        	<div class="txt">
            <strong>购卡返现</strong><br />
            奖品：<strong style="color:#FF6600">+200余额</strong><br />
            日期：2014-04-20
            </div>
            <div class="img"><div class="nonsupport" style="color:#1CC200; font-weight: bolder; font-size:14px">已完成</div></div>
        </a></span></li>
        <li><a href="$webdb[www_url]/60.html"><span style="font-size: 100%;padding: 0 20px 0 0;">
        	<div class="txt">
            <strong>限时折扣</strong><br />
            奖品：<strong style="color:#FF6600">省98元</strong><br />
            日期：2014-04-15
            </div>
            <div class="img"><div class="nonsupport" style="color:#1CC200; font-weight: bolder; font-size:14px">已完成</div></div>
        </a></span></li>
        <li><a href="$webdb[www_url]/60.html"><span style="font-size: 100%;padding: 0 20px 0 0;">
        	<div class="txt">
            <strong>消费送礼</strong><br />
            奖品：<strong style="color:#FF6600">获得7兑换券</strong><br />
            日期：2014-04-8
            </div>
            <div class="img"><div class="nonsupport" style="color:#F00; font-weight: bolder; font-size:14px">未领取</div></div>
        </a></span></li>
        <li><a href="$webdb[www_url]/60.html"><span style="font-size: 100%;padding: 0 20px 0 0;">
        	<div class="txt">
            <strong>幸运抽奖</strong><br />
            奖品：<strong style="color:#FF6600">Ipad5一台、Iphone5s一台</strong><br />
            日期：2014-04-01
            </div>
            <div class="img"><div class="nonsupport" style="color:#F00; font-weight: bolder; font-size:14px">未领取</div></div>
        </a></span></li>
    </ul>








</div>
<!--
EOT;
?>
-->