<!DOCTYPE html>
<!--<?php
$titleDB[title]=$fid?$fidDB[name]:$webdb[webname];
$card_out=$fid==74?' id="card" ':'';
print <<<EOT
-->
<html>
<head>
<meta charset="gb2312" />
<link rel="stylesheet" type="text/css" href="$webdb[www_url]/images/onlinebooking.css" media="all" />
<link rel="stylesheet" type="text/css" href="$webdb[www_url]/images/weimob-ui-1-1.css" media="all" />
<link rel="stylesheet" type="text/css" href="$webdb[www_url]/images/common.css" media="all" />
<link rel="stylesheet" type="text/css" href="$webdb[www_url]/images/home-0.css" media="all" />
<link rel="stylesheet" type="text/css" href="$webdb[www_url]/images/font-awesome.css" media="all" />
<script type="text/javascript" src="$webdb[www_url]/images/jQuery.js"></script>
<script type="text/javascript" src="$webdb[www_url]/images/swipe.js"></script>
<title>$titleDB[title]</title>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<!-- Mobile Devices Support @begin -->
<meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
<meta content="no-cache" http-equiv="pragma">
<meta content="0" http-equiv="expires">
<meta content="telephone=no, address=no" name="format-detection">
<meta name="apple-mobile-web-app-capable" content="yes" />
<!-- apple devices fullscreen -->
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<!-- Mobile Devices Support @end -->
</head>
<body onselectstart="return true;" ondragstart="return false;" $card_out>
<!--
EOT;
?>
-->